@import "normalize.css";

body {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu.left {
  visibility: hidden !important;

  &.visible {
    visibility: visible !important;
  }
}
