{
  "presets": [
    ["env", { "targets": { "node": "current" }, "modules": false }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
