{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["standard", "plugin:react/recommended"],
  "plugins": ["react"],
  "rules": {
    "space-before-function-paren": 0,
    "comma-dangle": [2, "always-multiline"],
    "react/destructuring-assignment": [2, "always"],
    "react/no-unused-prop-types": 1,
    "react/default-props-match-prop-types": 1,
    "react/boolean-prop-naming": 1,
    "react/button-has-type": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-typos": 1,
    "react/require-default-props": 1,
    "react/sort-comp": 1,
    "react/sort-prop-types": [
      1,
      {
        "requiredFirst": true
      }
    ],
    "react/jsx-sort-props": 1,
    "react/jsx-sort-default-props": 1,
    "react/jsx-wrap-multilines": [
      1,
      {
        "return": "parens-new-line",
        "declaration": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "parens-new-line"
      }
    ]
  },
  "globals": {
    "localStorage": true
  }
}
