/* .button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  height: 100%;
  border: none;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0 0.8px;
  text-transform: none;
  text-shadow: none;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: rgb(72, 72, 72, 0.9);
} */
