.productContainer {
  display: flex;
  flex-flow: wrap;
  padding: 2rem 4rem;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.productItem {
  margin: 10px 10px !important;

  &:first-child {
    margin: 10px 10px !important;
  }

  &:last-child {
    margin: 10px 10px !important;
  }
}
